<config>
    <modules>
        <VS7_PromoWidget>
            <version>0.1.0</version>
        </VS7_PromoWidget>
    </modules>
    <global>
        <helpers>
            <vs7_promowidget>
                <class>VS7_PromoWidget_Helper</class>
            </vs7_promowidget>
        </helpers>
        <models>
            <vs7_promowidget>
                <class>VS7_PromoWidget_Model</class>
                <resourceModel>vs7_promowidget_resource</resourceModel>
            </vs7_promowidget>
            <vs7_promowidget_resource>
                <class>VS7_PromoWidget_Model_Resource</class>
                <entities>
                    <banner>
                        <table>vs7_promowidget</table>
                    </banner>
                </entities>
            </vs7_promowidget_resource>
        </models>
        <resources>
            <vs7_promowidget_setup>
                <setup>
                    <module>VS7_PromoWidget</module>
                </setup>
            </vs7_promowidget_setup>
            <vs7_promowidget_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_promowidget_write>
            <vs7_promowidget_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_promowidget_read>
        </resources>
        <blocks>
            <vs7_promowidget>
                <class>VS7_PromoWidget_Block</class>
            </vs7_promowidget>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <vs7_promowidget>
                    <file>vs7_promowidget.xml</file>
                </vs7_promowidget>
            </updates>
        </layout>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <vs7_promowidget>
                        <type>singleton</type>
                        <class>vs7_promowidget/adminhtml_observer</class>
                        <method>saveBannerData</method>
                    </vs7_promowidget>
                </observers>
            </salesrule_rule_save_after>
        </events>
    </adminhtml>
</config>